Chatbot/flows (1) (1).json
[
    {
        "id": "b84d90a7.10b39",
        "type": "tab",
        "label": "Flow 4 Trabalho",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a1eb926.0126f8",
        "type": "telegram sender",
        "z": "b84d90a7.10b39",
        "name": "",
        "bot": "2f652d121b2e2abf",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1690,
        "y": 360,
        "wires": [
            [
                "722fe0cd.a3ed1"
            ]
        ]
    },
    {
        "id": "839a9236.1901",
        "type": "change",
        "z": "b84d90a7.10b39",
        "name": "Entrada Message",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "6f5f59eb.b471a8"
            ]
        ]
    },
    {
        "id": "ff7bde2d.ff87d",
        "type": "change",
        "z": "b84d90a7.10b39",
        "name": "Retorno Message",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "6a1eb926.0126f8"
            ]
        ]
    },
    {
        "id": "5fd7d047.0d6c5",
        "type": "telegram receiver",
        "z": "b84d90a7.10b39",
        "name": "",
        "bot": "2f652d121b2e2abf",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "905ed230.d6739"
            ],
            []
        ]
    },
    {
        "id": "6f5f59eb.b471a8",
        "type": "watson-assistant-v2",
        "z": "b84d90a7.10b39",
        "name": "Farmapp",
        "service-endpoint": "",
        "assistant_id": "6dd60e65-ef10-457e-b90e-00fb3bdf1b1a",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "ff7bde2d.ff87d",
                "b98c0611.5fe598"
            ]
        ]
    },
    {
        "id": "722fe0cd.a3ed1",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 200,
        "wires": []
    },
    {
        "id": "b98c0611.5fe598",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "905ed230.d6739",
        "type": "switch",
        "z": "b84d90a7.10b39",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "839a9236.1901"
            ],
            [
                "2bc2fb2f.c3aeb4"
            ]
        ]
    },
    {
        "id": "2bc2fb2f.c3aeb4",
        "type": "function",
        "z": "b84d90a7.10b39",
        "name": "ProcIN STT",
        "func": "msg.params = {};\nmsg.params.id = msg.payload.chatId;\n\nmsg.payload = msg.payload.weblink;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            [
                "cca42cfe.63004",
                "8d1a36d1.211728"
            ]
        ]
    },
    {
        "id": "8d1a36d1.211728",
        "type": "watson-speech-to-text",
        "z": "b84d90a7.10b39",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "Telephony",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "G8a6R-FtReub6eM1X8Y2rmalYfPehnkJkpa2mUI1gZSm",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/c5a8238a-c171-4941-b0da-72f0316c427f",
        "x": 670,
        "y": 820,
        "wires": [
            [
                "e266a1a3.f153e"
            ]
        ]
    },
    {
        "id": "3bf75a98.502046",
        "type": "function",
        "z": "b84d90a7.10b39",
        "name": "ProcOUT WA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "44f50fcb.c2839",
                "984a06a1.140b08"
            ]
        ]
    },
    {
        "id": "984a06a1.140b08",
        "type": "watson-text-to-speech",
        "z": "b84d90a7.10b39",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "G-Pj5F5uZrPS6zIPwVgzrxBpNwel0sUgZqyHZsj0tj3m",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ba52b721-804d-448b-8804-a51f7b5d8957",
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "b9984af0.caf8f8",
                "1e420bae.a866c4"
            ]
        ]
    },
    {
        "id": "1e420bae.a866c4",
        "type": "function",
        "z": "b84d90a7.10b39",
        "name": "ProcOUT TTS",
        "func": "msg.payload = {\n    content : msg.payload,\n    type : 'voice',\n    chatId : msg.params.id\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 500,
        "wires": [
            [
                "6a1eb926.0126f8"
            ]
        ]
    },
    {
        "id": "b9984af0.caf8f8",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 360,
        "wires": []
    },
    {
        "id": "cca42cfe.63004",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "44f50fcb.c2839",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 760,
        "wires": []
    },
    {
        "id": "e266a1a3.f153e",
        "type": "watson-assistant-v2",
        "z": "b84d90a7.10b39",
        "name": "Farmapp",
        "service-endpoint": "",
        "assistant_id": "6dd60e65-ef10-457e-b90e-00fb3bdf1b1a",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "3bf75a98.502046",
                "5c6ecd7b.f223a4"
            ]
        ]
    },
    {
        "id": "5c6ecd7b.f223a4",
        "type": "debug",
        "z": "b84d90a7.10b39",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "2f652d121b2e2abf",
        "type": "telegram bot",
        "botname": "Farmapp_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]